---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Detalhes de Projeto</h4>
            <div class="hline"></div>
            <p><b>Data:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Consultor:</b> <a href="{{ "/about/" | prepend: site.baseurl }}">{{ page.developer }}</a></p>
            <p><b>Categoria:</b> {{ page.categories }}</p>
            <p><b>Tags (é foda pra fazer funcionar, mas não impossível):</b> 
            {% for tag in page.tags %}
                {{ tag }},
            {% endfor %}
            </p>
            <p><b>Clientes (quero fazer o mesmo que tags):</b> {{ page.client }}</p>
            <p><b>Referências:</b>
            {% for url in page.website %}
             <br /><a target="_blank" href="{{ url }}">{{ url }}</a>
            {% endfor %}
            </p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html filter="project" title="Projetos Relacionados" limit=10 %}